<!DOCTYPE html>
{% load staticfiles %}<!--input image-->
<html>
<head>
	<title>Rango</title>
{% if user.is_authenticated %}
<h1>Rango says... hello {{ user.username }}!</h1>
{% else %}
<h1>Rango says... hello world!</h1>
{% endif %}

</head>
<body>
	
     	{%if categories %}
     		<ul>
     		{%for category in categories %}
     			<li>

                                                         <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                                                       </li>
     		{% endfor %}
     	{% else %}
     		<strong>there are no categories prenters!	</strong>
	{% endif %}
     		</ul>



{% if user.is_authenticated %}
<a href="/rango/restricted/">Restricted Page</a><br />
<a href="/rango/logout/">Logout</a><br />
{% else %}
<a href="/rango/register/">Register Here</a><br />
<a href="/rango/login/">Login</a><br />
{% endif %}

               <a href="/rango/add_category/">add_category</a><br />
         
               <a href="{% url 'about' %}">About</a><br />
             
               <img src="{% static "images/jordan.png" %}" alt="picture of jordan"/>
            

</body>
</html>